@use '../variables' as *;
@use '../mixins' as *;

.cards {
    background-color: $neutral0;
    padding: $spacing-xl 0;
    border-radius: $radius-lg $radius-lg 0 0;
    margin-top: -$radius-lg;
    

  &__container {
    @include container;
    background-color: $neutral0;
  }

  &__title {
    color: $primary800;
    font-size: $font-size-h2;
    font-weight: 700;
    text-align: center;
    margin-bottom: $spacing-xl;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-md;
  }
}

.card {
  background-color: $neutral0;
  border-radius: $radius-lg;
  padding: $spacing-md;

  &__image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: $neutral150;
    border-radius: $radius-md;
    overflow: hidden;
    margin-bottom: $spacing-md;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    color: $primary700;
    font-weight: 700;
    font-size: $font-size-base;
    margin-bottom: $spacing-xs;
  }

  &__description {
    color: $primary700;
    line-height: $line-height-base;
    font-size: $font-size-small;
  }
}