@use '../variables' as *;
@use '../mixins' as *;

.footer {
    background-color: $primary800;
    padding: $spacing-xl 0;
    border-radius: $radius-lg $radius-lg 0 0;
    margin-top: -$radius-lg;

    &__container {
        @include container;
    }

    &__columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $spacing-xl;
        padding-bottom: $spacing-xl;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-bottom: $spacing-lg;
    }

    &__column-title {
        color: $neutral0;
        font-weight: 700;
        font-size: $font-size-base;
        margin-bottom: $spacing-sm;
    }

    &__column-title--spaced {
        margin-top: $spacing-lg;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
    }

    &__link {
        color: $neutral300;
        font-size: $font-size-small;

        &:hover {
        color: $neutral0;
        }
    }

    &__bottom {
        @include flex-between;
    }

    &__credit {
        color: $neutral300;
        font-size: $font-size-small;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: $spacing-xs;
    }

    &__nav-link {
        color: $neutral0;
        font-size: $font-size-small;

        &:hover {
        color: $neutral0;
        }
    }

    &__separator {
        color: $neutral0;
    }
}