@use '../variables' as *;
@use '../mixins' as *;

.header {
  background-color: $primary800;
  padding: $spacing-sm 0;
  border-bottom: 5px solid $primary600;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      height: 32px;
      width: auto;
    }
  }

  &__nav {
    display: flex;
    gap: $spacing-md;
  }

  &__link {
    color: $neutral0;
    font-size: $font-size-base;
    font-weight: 500;

    &:hover {
      opacity: 0.8;
    }
  }

  &__actions {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
  }

  &__notification,
  &__profile {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}